.logoContainer {
  background-image: url("/images/logo.svg");
  min-height: 5.5rem;
  min-width: 8.6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-block-end: 8.7rem;
}
.componentContainer {
  background-color: var(--color-white);
  border-radius: 2.5rem;
  display: flex;
  padding: 3.2rem 3.2rem 3.2rem 4.8rem;
  min-width: 89.6rem;
  max-width: 92rem;
  gap: 4.8rem;
}
.tipOutputsContainer {
  border-radius: 1.5rem;
  background-color: var(--color-very-dark-cyan);
  min-width: 4.1rem;
  overflow: auto;
  flex: 1;
  position: relative;
}
.tipOutputsInner {
  margin: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tipResultRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tipResultContainer {
  min-width: fit-content;
  margin-inline-end: .8rem;
}
.tipResultLabel {
  font-size: var(--font-size-label);
  line-height: var(--lh-label);
  color: var(--color-white);
}
.tipResultLabelDescription {
  font-size: 1.3rem;
  color: var(--color-grayish-cyan);
  line-height: 1.9rem;
}
.tipResultValue {
  font-size: var(--font-size-result);
  line-height: var(--lh-result);
  letter-spacing: var(--ls-result);
  color: var(--color-strong-cyan);
}

@media (max-width: 48em) {
  .logoContainer {
    margin-block: 5rem 4rem;
  }
  .componentContainer {
    flex-direction: column;
    padding: 3.2rem 2.4rem;
    gap: 3.2rem;
    min-width: 100%;
    border-radius: 2.5rem  2.5rem 0 0;
  }
  .tipOutputsContainer {
    min-width: 100%;
  }
  .tipOutputsInner {
    position: relative;
    margin: 2.4rem;
  }
  .tipResultsContainer {
    margin-block-start: 1.3rem;
  }
}
