.logoContainer {
  background-image: url("/images/logo.svg");
  min-height: 3.4375rem;
  min-width: 5.375rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-block-end: 5.4375rem;
}
.componentContainer {
  background-color: var(--color-white);
  border-radius: 1.5625rem;
  display: flex;
  padding: 2rem 2rem 2rem 3rem;
  min-width: 56rem;
  max-width: 57.5rem;
  gap: 3rem;
}
.tipOutputsContainer {
  border-radius: 0.9375rem;
  background-color: var(--color-very-dark-cyan);
  min-width: 25.8125rem;
  overflow: auto;
  flex: 1;
  position: relative;
}
.tipOutputsInner {
  margin: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tipResultRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tipResultContainer {
  min-width: fit-content;
  margin-inline-end: .5rem;
}
.tipResultLabel {
  font-size: var(--font-size-label);
  line-height: var(--lh-label);
  color: var(--color-white);
}
.tipResultLabelDescription {
  font-size: 0.8125rem;
  color: var(--color-grayish-cyan);
  line-height: 1.1875rem;
}
.tipResultValue {
  font-size: var(--font-size-result);
  line-height: var(--lh-result);
  letter-spacing: var(--ls-result);
  color: var(--color-strong-cyan);
}

@media (max-width: 48em) {
  .logoContainer {
    margin-block: 3.125rem 2.5rem;
  }
  .componentContainer {
    flex-direction: column;
    padding: 2rem 1.5rem;
    gap: 2rem;
    min-width: 100%;
    border-radius: 1.5625rem  1.5625rem 0 0;
  }
  .tipOutputsContainer {
    min-width: 100%;
  }
  .tipOutputsInner {
    position: relative;
    margin: 1.5rem;
  }
  .tipResultsContainer {
    margin-block-start: 0.8125rem;
  }
}
