@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --font-family: "Space Mono", monospace;
  --font-weight: 700;

  --color-strong-cyan: hsl(172, 67%, 45%);
  --color-very-dark-cyan: hsl(183, 100%, 15%);
  --color-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-grayish-cyan: hsl(184, 14%, 56%);
  --color-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-cyan: hsl(173, 61%, 77%);
  --color-red: hsl(13, 70%, 61%);
  --color-very-dark-grayish-cyan: hsl(180, 18%, 40%);
  --color-disables-button: hsl(183, 78%, 24%);

  --font-size-input: 1.5rem;
  --font-size-label: 1rem;
  --lh-label: 1.5rem;

  --font-size-reset-button: 1.25rem;
  --font-size-result-d: 3rem;
  --font-size-result-m: 2rem;
  --font-size-result: var(--font-size-result-d);
  --lh-result: 4.4375rem;
  --ls-result: -0.0625rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  background-color: var(--color-light-grayish-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100svh;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  background-color: var(--color-light-cyan);
  color: var(--color-very-dark-cyan);
}

@media (max-width: 48em) {
  :root {
    --font-size-result: var(--font-size-result-m);
  }
}